<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">
    <link rel="icon" type="image/icon" href="{{ url_for('static', filename='images/logo.ico') }}">
</head>

<body>
    <div class="navbar">
        <div class="logo-name">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
            <h1 class="heading">ವೈDHया</h1>
        </div>
        <a href="{{url_for('dashboard')}}"><button data-translate>Dashboard</button></a>
    </div>

    <div class="chat-container">
        <div class="chat-box" id="chatbox">
            <div class="chat-box-header">
                <h3 data-translate>Vaidhya Assistance</h3>
                <p onclick="unToggleChatbox()"><i class="fa fa-times"></i></p>
            </div>
            <div class="chat-box-body" id="chat-box-body">
                <div class="chat-box-body-receive">
                    <p data-translate="">Hi, I'm your virtual assistant. How may I help you?</p>
                </div>
            </div>
            <div class="chat-box-footer">
                <input placeholder="Enter..." type="text" onkeydown="sendMessage(event)" />
                <i class="send far fa-paper-plane" onclick="sendMessageClick()"></i>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
</body>

</html>