<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ವೈDHया</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/doctordashboard.css') }}">
    <link rel="icon" type="image/icon" href="{{ url_for('static', filename='images/logo.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="logo-name">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
            <h1 class="heading-nav">ವೈDHया</h1>
        </div>
        <button class="logout" onclick="logout()" data-translate>Logout</button>
    </div>

    <div class="seconddiv">
        <div class="statusf">
            <form method="POST" action="/fetchpatientdetails" onsubmit="fetchdetails();">
                <div class="input-box">
                    <input type="text" required="required" id="patientid" name="patientid" placeholder="Patient ID"
                        autocomplete="off">

                </div>

                <div class="input-box">
                    <input type="password" required="required" id="key" name="key" placeholder="Key">
                </div>
                <br>
                <div>
                    <button type="submit" class="btn" data-translate>Submit</button>
                </div>
            </form>
        </div>

        <div class="statuss">
            <h1>{{ message }}</h1>
        </div>
    </div>

    <div class="thirddiv">
        <p>Patient Name: <span> &nbsp; &nbsp;{{ name }} </span></p>
        <p>Patient ID: <span> &nbsp; &nbsp;{{ pid }}</span></p>
        <p>Patient Age: <span> &nbsp; &nbsp;{{ age }}</span></p>
        <p>Patient Symptom Feel: <span> &nbsp; &nbsp;{{ sfeel }}</span></p>
        <p>Patient Symptom Test: <span> &nbsp; &nbsp;{{ stest }}</span></p>

        <div>
            <button class="report" id="reportbtn"
                onclick="downloadReport('{{name}}', '{{pid}}', '{{age}}', '{{sfeel}}', '{{stest}}', '{{doc_id}}', '{{doc_name}}')">Download
                Report</button>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/doctordashboard.js') }}"></script>

</body>

</html>